Repository intel/intel-inb-manageability, pull requests merged in 2022-05, with the labels that each got.

#128 Fix Integration Tests
  inbm/integration-reloaded/test/general/UPDATE_SYSTEM.sh
Labels: ISDM_Low, integration test

#124 (RTC-497530) Implemented Publish Query Method to support query manife…
  docs/In-Band Manageability User Guide - Azure.md
  docs/In-Band Manageability User Guide - ThingsBoard.md
  docs/media/In-Band Manageability User Guide - Azure/media/image87.png
  docs/media/In-Band Manageability User Guide - ThingsBoard/media/image64.png
  docs/media/In-Band Manageability User Guide - ThingsBoard/media/image65.png
  inbm/Changelog.md
  inbm/cloudadapter-agent/cloudadapter/agent/broker.py
  inbm/cloudadapter-agent/cloudadapter/agent/publisher.py
  inbm/cloudadapter-agent/cloudadapter/client.py
  inbm/cloudadapter-agent/cloudadapter/constants.py
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_devices_version_3.3.json
  inbm/cloudadapter-agent/tests/unit/agent/test_publisher.py
Labels: enhancement, ISDM_Low, INBM

#127 (RTC 513178) Fix apt-get fail to update from a different location for…
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/sota/setup_helper.py
Labels: bug, ISDM_Low, INBM

#129 (RTC 514101) Removed support of remove and append command for apt sou…
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/config/constants.py
Labels: enhancement, ISDM_Low, INBM

#130 (RTC 497932) Fix Incorrect error message when OTA fetching fail
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/downloader.py
  inbm/dispatcher-agent/dispatcher/packagemanager/package_manager.py
Labels: bug, ISDM_Low, INBM

#131 (HSD_15011207622) Fixed SOTA update failed due to mender command changed
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/sota/constants.py
  inbm/dispatcher-agent/dispatcher/sota/os_updater.py
  inbm/dispatcher-agent/dispatcher/sota/snapshot.py
Labels: bug, ISDM_High, SOTA
