Repository intel/intel-inb-manageability, pull requests merged in 2022-04, with the labels that each got.

#101 HSD - 15010509095 - Added the fix for Xlink device busy and Xlink driver unavailable retu…
  inbc-program/inbc/constants.py
Labels: bug, ISDM_Low, INBC

#106 (HSD 15010982715) inbm-vision failed to receive query request from the cloud
  inbm-vision/Changelog.md
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/dispatcher_class.py
Labels: bug, ISDM_Low, INBM

#109 Update INBC documentation to include info regarding local file paths
  docs/Manifest Parameters.md
  inbc-program/README.md
Labels: documentation, ISDM_Low, INBC

#111 (508495) Support INBC Config Append command
  inbc-program/README.md
  inbc-program/inbc/command/command_factory.py
  inbc-program/inbc/command/config_command.py
  inbc-program/inbc/parser.py
  inbc-program/tests/unit/test_create_command_factory.py
  inbc-program/tests/unit/test_inbc.py
  inbm-lib/inbm_common_lib/constants.py
  inbm/Changelog.md
Labels: ISDM_Low, Config_append, INBC_APPEND

#113 Add unit test and fix documentation
  docs/Manifest Parameters.md
  inbm/dispatcher-agent/tests/unit/test_dispatcher.py
Labels: documentation, ISDM_Low, unit test

#114 Update security testing status for v3.0.10
  inbm-vision/Changelog.md
  inbm/Changelog.md
Labels: ISDM_Low, release

#117 HSD 15011009937 - Fix POTA Response throwing error on success
  inbc-program/inbc/command/command.py
  inbc-program/inbc/command/ota_command.py
  inbc-program/inbc/parser.py
  inbm-lib/inbm_common_lib/constants.py
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/fota/fota.py
  inbm/dispatcher-agent/dispatcher/packagemanager/local_repo.py
Labels: bug, ISDM_Low, INBC, POTA

#119 (511883) Add host package to build.sh
  build.sh
Labels: ISDM_Low, build

#122 HSD 15010766920 - Fix apparmor issue in telemetry-agent on Yocto
  inbm/Changelog.md
  inbm/packaging/yocto/common/usr.bin.inbm-telemetry
Labels: bug, ISDM_Low, telemetry

#120 (513116) Update query documentation
  docs/Manifest Parameters.md
Labels: ISDM_Low, Query_documentation

#118 (RTC 500237) Remove DBS messages from INBC
  inbc-program/inbc/command/command.py
  inbm-lib/inbm_common_lib/request_message_constants.py
  inbm/Changelog.md
Labels: bug, ISDM_Low, INBC
