Repository intel/intel-inb-manageability, pull requests merged in 2022-07, with the labels that each got.

#155 HSD 16016950467 - Add missing AppArmor entries for MTL-P Ubuntu
  inbm/Changelog.md
  inbm/diagnostic-agent/fpm-template/etc/apparmor.d/usr.bin.inbm-diagnostic
  inbm/dispatcher-agent/fpm-template/etc/apparmor.d/usr.bin.inbm-dispatcher
  inbm/packaging/yocto/common/usr.bin.inbm-diagnostic
  inbm/packaging/yocto/common/usr.bin.inbm-dispatcher
Labels: bug, ISDM_Low, apparmor

#147 (516274) Expand inbm artifactory deploy distributions
  inbm/deploy-artifactory.sh
Labels: ISDM_Low, build

#159 Fix typo in AppArmor file introduced in recent commit
  inbm/dispatcher-agent/fpm-template/etc/apparmor.d/usr.bin.inbm-dispatcher
Labels: bug, ISDM_Low

#161 RTC-5096640: Added changes for timer cancellation/update and shorten the SWB…
  inbm/Changelog.md
  inbm/telemetry-agent/telemetry/poller.py
Labels: enhancement, ISDM_Low, INBM

#160 (RTC496923) Correct status code and error message for fota and sota i…
  inbm/Changelog.md
  inbm/common-python-config/pyproject.toml
  inbm/dispatcher-agent/dispatcher/dispatcher_class.py
  inbm/dispatcher-agent/dispatcher/ota_thread.py
Labels: bug, ISDM_Low, INBM

#152 (RTC 516194) Implemented Publish Query Method to support query manifest
  docs/In-Band Manageability User Guide - ThingsBoard.md
  docs/media/In-Band Manageability User Guide - ThingsBoard/media/image17.PNG
  docs/media/In-Band Manageability User Guide - ThingsBoard/media/image17.png
  inbm/Changelog.md
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_batch_version_3.3.json
Labels: enhancement, ISDM_Low, INBM

#163 (HSD 15011480329) Fix INBC POTA fail while executing SOTA in ubuntu
  docs/Manifest Parameters.md
  inbm/dispatcher-agent/dispatcher/sota/downloader.py
  inbm/dispatcher-agent/tests/unit/sota/test_sota.py
Labels: enhancement, ISDM_Low, INBM

#168 (RTC 517028) Fix No error message return when config set fail due to …
  docs/Configuration Parameters.md
  inbm/Changelog.md
  inbm/configuration-agent/fpm-template/usr/share/configuration-agent/iotg_inb_schema.xsd
Labels: bug, ISDM_Medium, INBM

#167 RTC-517230: Added fix to receive latest data in telemetry agent.
  inbm/Changelog.md
  inbm/configuration-agent/configuration/broker.py
Labels: bug, ISDM_Low, INBM, telemetry
