Repository intel/intel-inb-manageability, pull requests merged in 2022-02, with the labels that each got.

#30 (507914) Add script to deploy .debs to a PPA hosted on Artifactory
  inbm/Changelog.md
  inbm/deploy-artifactory.sh
  inbm/fpm/Makefile.in
  inbm/packaging/yocto/meta-intel-ese-manageability/recipes-inb/inb/inb_0.0.0.bb
Labels: ISDM_Low, PPA

#29 Fix Thingsboard Docker Stats
  inbm-lib/inbm_lib/trtl.py
  inbm-lib/tests/unit/inbm_lib/test_trtl.py
  inbm-vision/node-agent/node/constant.py
  inbm-vision/node-agent/node/data_handler.py
  inbm-vision/vision-agent/vision/configuration_constant.py
  inbm-vision/vision-agent/vision/data_handler/command_data_handler.py
  inbm-vision/vision-agent/vision/data_handler/data_handler.py
  inbm/Changelog.md
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_batch_version_3.3.json
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_devices_version_3.3.json
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_widgets_version_3.3.json
  inbm/dispatcher-agent/dispatcher/aota/aota_command.py
  inbm/dispatcher-agent/dispatcher/aota/constants.py
  inbm/dispatcher-agent/tests/unit/test_ota_target.py
  inbm/dispatcher-agent/tests/unit/test_provision_target.py
  inbm/telemetry-agent/fpm-template/lib/systemd/system/inbm-telemetry.service
  inbm/telemetry-agent/setup.py
  inbm/telemetry-agent/telemetry/container_usage.py
  inbm/telemetry-agent/telemetry/pms_notification.py
  inbm/telemetry-agent/telemetry/telemetry_handling.py
  inbm/telemetry-agent/telemetry/tests/unit/test_container_usage.py
  inbm/telemetry-agent/telemetry/tests/unit/test_dynamic_attributes.py
  inbm/telemetry-agent/telemetry/tests/unit/test_software_bom_list.py
  inbm/telemetry-agent/telemetry/tests/unit/test_telemetry_handling.py
  inbm/trtl/README.md
  inbm/trtl/factory/box.go
  inbm/trtl/factory/docker.go
  inbm/trtl/licenses/LICENSE
  inbm/trtl/realdocker/list.go
  inbm/trtl/realdocker/stats.go
  inbm/trtl/realdocker/stats_test.go
  inbm/trtl/trtl.go
Labels: bug, ISDM_Medium, trtl, aota

#27 [INBM] Support INBC Config commands(Get,Set)
  inbc-program/README.md
  inbc-program/inbc/command/config_command.py
  inbc-program/inbc/command/ota_command.py
  inbc-program/inbc/constants.py
  inbc-program/inbc/parser.py
  inbc-program/tests/unit/test_broker.py
  inbc-program/tests/unit/test_inbc.py
  inbc-program/tests/unit/test_utility.py
  inbm-vision/vision-agent/vision/data_handler/command_data_handler.py
  inbm-vision/vision-agent/vision/registry_manager.py
  inbm/Changelog.md
Labels: ISDM_Low, INBC, INBM

#22 [495465] Fix INBC fail to exit intermittently when using hddl_device_server
  inbm-lib/inbm_vision_lib/xlink/xlink_wrapper.py
  inbm-vision/Changelog.md
Labels: bug, ISDM_Low, vision

#37 Fix Thingsboard 3.3 files to support Batch updates
  inbm/Changelog.md
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_batch_version_3.3.json
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_devices_version_3.3.json
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_widgets_version_3.3.json
Labels: ISDM_Low, Thingsboard, batch updates

#34 (508698) [BUG] Diagnostic returns inbm-telemetry not running and fails OTA checks blocking the OTA
  inbm/Changelog.md
  manageability-docker/Dockerfile
  manageability-docker/README.md
  manageability-docker/run.sh
Labels: bug, ISDM_Low, build, docker

#39 (508935) Handle missing SOTA directory in Dispatcher during SOTA
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/packagemanager/local_repo.py
  inbm/dispatcher-agent/dispatcher/sota/sota.py
  inbm/dispatcher-agent/tests/unit/sota/test_sota.py
Labels: bug, ISDM_Low, sota, dispatcher

#36 508708-Improve usability of AOTA Docker List command
  inbm-lib/inbm_lib/trtl.py
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/aota/aota.py
  inbm/dispatcher-agent/dispatcher/aota/aota_command.py
  inbm/dispatcher-agent/dispatcher/aota/constants.py
  inbm/trtl/README.md
  inbm/trtl/factory/docker.go
  inbm/trtl/factory/docker_test.go
  inbm/trtl/realdocker/list.go
  inbm/trtl/realdocker/list_test.go
  inbm/trtl/realdocker/stats.go
Labels: bug, ISDM_Low, trtl, aota

#44 508706-Change containersCpuPercent to containerStats in Telemetry
  docs/In-Band Manageability Developer Guide.md
  inbm-lib/inbm_lib/constants.py
  inbm/Changelog.md
  inbm/cloudadapter-agent/cloudadapter/constants.py
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_devices_version_2.4.json
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_devices_version_3.3.json
  inbm/dispatcher-agent/dispatcher/aota/aota_command.py
  inbm/dispatcher-agent/dispatcher/aota/application_command.py
  inbm/dispatcher-agent/dispatcher/aota/constants.py
  inbm/dispatcher-agent/dispatcher/sota/sota.py
  inbm/telemetry-agent/telemetry/telemetry_handling.py
Labels: ISDM_Low, aota

#43 [509209] Add timestamp to node fw release date
  inbm-lib/inbm_common_lib/platform_info.py
  inbm-vision/Changelog.md
  inbm-vision/common-python-config/pyproject.toml
  inbm-vision/node-agent/fpm-template/usr/share/node-agent/version.txt
  inbm-vision/node-agent/node/command/command.py
  inbm-vision/version.txt
  inbm-vision/vision-agent/vision/parser.py
  inbm-vision/vision-agent/vision/tests/unit/test_parser.py
Labels: enhancement, ISDM_Low, vision

#41 (508936) Upgrading networkmanager fails during SOTA in container
  inbm-lib/inbm_lib/constants.py
  inbm-lib/inbm_lib/detect_os.py
  inbm-vision/build-check.sh
  inbm-vision/build.sh
  inbm-vision/node-agent/node/tests/unit/test_space_calculator.py
  inbm/Changelog.md
  inbm/diagnostic-agent/diagnostic/filesystem_utilities.py
  inbm/diagnostic-agent/tests/unit/test_filesystem_utilities.py
  inbm/dispatcher-agent/dispatcher/aota/application_command.py
  inbm/dispatcher-agent/dispatcher/aota/constants.py
  inbm/dispatcher-agent/dispatcher/fota/bios_factory.py
  inbm/dispatcher-agent/dispatcher/fota/rebooter.py
  inbm/dispatcher-agent/dispatcher/sota/os_updater.py
  inbm/dispatcher-agent/dispatcher/sota/rebooter.py
  inbm/dispatcher-agent/fpm-template/etc/apparmor.d/usr.bin.inbm-dispatcher
  manageability-docker/Dockerfile
  manageability-docker/build-az-container.sh
  manageability-docker/build-tb-container.sh
  manageability-docker/docker-compose.yml
  manageability-docker/docker-manageability-policy
  manageability-docker/run.sh
Labels: ISDM_Medium, sota, container

#50 HSD 15010715189 - Telemetry service failed to start when unable to fi…
  inbm/Changelog.md
  inbm/telemetry-agent/telemetry/software_bom_list.py
Labels: bug, ISDM_Low, telemetry

#52 HSD 15010407028-Invalid Child Tag in Vision Agent
  docs/Manifest Parameters.md
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/provision_target.py
  inbm/dispatcher-agent/fpm-template/usr/share/dispatcher-agent/manifest_schema.xsd
  inbm/dispatcher-agent/tests/unit/test_provision_target.py
Labels: bug, ISDM_Low, vision, dispatcher

#48 508501 Update README.md files and other document updates
  docs/AOTA.md
  docs/In-Band Manageability Developer Guide.md
  docs/In-Band Manageability Installation Guide Ubuntu.md
  docs/In-Band Manageability User Guide - Azure.md
  docs/In-Band Manageability User Guide - ThingsBoard.md
  docs/Issues and Troubleshooting.md
  docs/Manifest Parameters.md
  docs/media/In-Band Manageability User Guide - ThingsBoard/media/image57.png
  inbc-program/README.md
  inbc-program/inbc/broker.py
  inbc-program/inbc/command/command.py
  inbc-program/inbc/command/config_command.py
  inbm-vision/node-agent/README.md
  inbm-vision/vision-agent/README.md
  inbm/cloudadapter-agent/README.md
  inbm/configuration-agent/README.md
  inbm/diagnostic-agent/README.md
  inbm/diagnostic-agent/diagnostic/diagnostic_checker.py
  inbm/dispatcher-agent/README.md
  inbm/dispatcher-agent/dispatcher/constants.py
  inbm/dispatcher-agent/dispatcher/dispatcher_class.py
  inbm/telemetry-agent/README.md
  inbm/telemetry-agent/telemetry/broker.py
  inbm/telemetry-agent/telemetry/constants.py
  inbm/telemetry-agent/telemetry/pms_notification.py
  inbm/telemetry-agent/telemetry/poller.py
  inbm/telemetry-agent/telemetry/telemetry.py
  inbm/telemetry-agent/telemetry/telemetry_handling.py
  inbm/trtl/parser/argument.go
Labels: documentation, ISDM_Low

#51 fix (509436) SOTA in docker container cannot take snapshot on btrfs
  inbm-vision/integration-reloaded/Vagrantfile-vm-box-20.04
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/sota/snapshot.py
  inbm/dispatcher-agent/dispatcher/sota/sota.py
  inbm/dispatcher-agent/tests/unit/sota/test_snapshot.py
  inbm/integration-reloaded/Vagrantfile-vm-box-20.04
  inbm/trtl/btrfs/config.go
  inbm/trtl/btrfs/delete.go
  inbm/trtl/btrfs/snapper.go
  inbm/trtl/btrfs/snapshot.go
  inbm/trtl/btrfs/undoChange.go
  inbm/trtl/dockercompose/down.go
  inbm/trtl/dockercompose/list.go
  inbm/trtl/dockercompose/logs.go
  inbm/trtl/dockercompose/pull.go
  inbm/trtl/dockercompose/remove.go
  inbm/trtl/dockercompose/up.go
  inbm/trtl/util/commandWrapper.go
  inbm/trtl/util/commandWrapperFake.go
  inbm/trtl/util/untar.go
  manageability-docker/README.md
Labels: bug, ISDM_Medium, container, snapper, snapshot, btrfs

#58 fix (509442, 509439) docker-compose not working in container
  inbm/Changelog.md
  manageability-docker/Dockerfile
Labels: bug, ISDM_Low, container, docker_stats_widget, docker_compose

#57 HSD 150101749354 - Boundary conditions on configuration integer values were not enforced.
  docs/Configuration Parameters.md
  inbm-lib/inbm_vision_lib/configuration_manager.py
  inbm-lib/tests/unit/inbm_common_lib/test_validater.py
  inbm-lib/tests/unit/inbm_vision_lib/test_configuration_manager.py
  inbm-vision/Changelog.md
  inbm-vision/integration-reloaded/tests/configuration/VISION_CONFIG_LOAD_TEST_PASS.sh
  inbm-vision/integration-reloaded/tests/installation/INSTALL_FRAMEWORK_slow.sh
  inbm-vision/node-agent/fpm-template/usr/share/node-agent/intel_manageability_node_schema.xsd
  inbm-vision/vision-agent/fpm-template/usr/share/vision-agent/intel_manageability_vision_schema.xsd
  inbm-vision/vision-agent/vision/command/configuration_command.py
  inbm-vision/vision-agent/vision/configuration_constant.py
  inbm-vision/vision-agent/vision/registry_manager.py
Labels: bug, vision, ISDM_Medium, node

#61 fix 509438 [BUG] Driver update failing in container in Ubuntu
  inbm-lib/inbm_lib/detect_os.py
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/aota/application_command.py
  inbm/telemetry-agent/telemetry/tests/unit/test_software_bom_list.py
Labels: bug, ISDM_Low, ubuntu, aota, container, driver

#62 Address PAE comments on documentation
  README.md
  docs/In-Band Manageability Developer Guide.md
  docs/In-Band Manageability User Guide - Azure.md
  docs/In-Band Manageability User Guide - ThingsBoard.md
  docs/Manifest Parameters.md
  docs/Query.md
  inbc-program/README.md
Labels: documentation, ISDM_Low, INBC, INBM

#54 Exclude tpm2-* .debs when uploading to Artifactory PPA
  inbm/Changelog.md
  inbm/deploy-artifactory.sh
Labels: ISDM_Low, PPA

#66 Fix Thingsboard Docker Stats widget to display data
  inbm/Changelog.md
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_devices_version_3.3.json
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_widgets_version_3.3.json
Labels: ISDM_Medium, Thingsboard, docker_stats_widget

#65 fix (509509) Reboot not triggered after SOTA update
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/aota/application_command.py
  inbm/dispatcher-agent/dispatcher/sota/rebooter.py
Labels: bug, ISDM_Low

#59 fix (509440) Remove testing entries from intel_manageability.conf in release builds
  inbm/Changelog.md
  inbm/configuration-agent/fpm-template/etc/intel_manageability.conf
  inbm/packaging/windows-override/inbm/etc/intel_manageability.conf
  inbm/packaging/yocto/ehl/intel_manageability.conf
  inbm/packaging/yocto/kmb/intel_manageability.conf
Labels: bug, ISDM_Low
