Repository intel/intel-inb-manageability, pull requests merged in 2022-12, with the labels that each got.

#215 (RTC-520913) Preparing Release of 3.0.14 for platform projects
  inbm-vision/Changelog.md
  inbm/Changelog.md
Labels: build, ISDM_Medium, INBM

#225 (RTC_522522) Updated Broken link in docs
  docs/In-Band Manageability Developer Guide.md
  docs/In-Band Manageability User Guide - Azure.md
  docs/In-Band Manageability User Guide - ThingsBoard.md
Labels: documentation, ISDM_Medium

#232 (RTC 522583) Added a command to fix for SOTA update fail due to apt-…
  inbm-vision/Changelog.md
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/sota/os_updater.py
  inbm/dispatcher-agent/tests/unit/sota/test_os_updater.py
  inbm/integration-reloaded/test/sota/SOTA_UPDATE_SUCCESS_NO_SNAPSHOT_postboot.sh
  inbm/integration-reloaded/test/sota/SOTA_UPDATE_SUCCESS_postboot.sh
Labels: bug, ISDM_Medium, INBM, SOTA

#227 (RTC_522523) Updated the documentation user guide
  docs/In-Band Manageability User Guide - Azure.md
  docs/In-Band Manageability User Guide - ThingsBoard.md
  docs/media/In-Band Manageability User Guide - Azure/media/image4.png
  docs/media/In-Band Manageability User Guide - Azure/media/image5.png
  docs/media/In-Band Manageability User Guide - Azure/media/image88.png
  docs/media/In-Band Manageability User Guide - Azure/media/image89.png
  docs/media/In-Band Manageability User Guide - Azure/media/image90.png
  docs/media/In-Band Manageability User Guide - Azure/media/image91.png
  docs/media/In-Band Manageability User Guide - ThingsBoard/media/image66.png
  docs/media/In-Band Manageability User Guide - ThingsBoard/media/image7.png
Labels: documentation, ISDM_High

#243 (JIRA_FIXED_BRANCH_NEXMGMT-16) Added fix for configuration file not r…
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/dispatcher_class.py
Labels: bug, ISDM_Medium, INBC, INBM

#241 DBS Issue fix for RTC_498253 RTC_518125 RTC_518127
  inbm/Changelog.md
  inbm/diagnostic-agent/diagnostic/event_watcher.py
  inbm/dispatcher-agent/dispatcher/remediationmanager/remediation_manager.py
  inbm/dispatcher-agent/tests/unit/remediationmanager/test_remediation_manager.py
Labels: bug, ISDM_Medium, AOTA
