Repository intel/intel-inb-manageability, pull requests merged in 2022-09, with the labels that each got.

#183 (RTC-519030) Fix Bit Creek (Vision) build failure
  inbm-vision/Changelog.md
  inbm-vision/dockerfiles/commands.base-setup.m4
Labels: bug, ISDM_Low, vision

#179 (RTC 498253) Added a log message if docker image is not present in co…
  inbm/dispatcher-agent/dispatcher/remediationmanager/remediation_manager.py
  inbm/dispatcher-agent/tests/unit/remediationmanager/test_remediation_manager.py
  inbm/log-changes.txt
Labels: enhancement, INBM, AOTA, docker_compose

#185 (HSD 15011730318) Added guid argument for INBC FOTA command to fix th…
  inbc-program/inbc/parser.py
  inbm-lib/inbm_common_lib/validater.py
  inbm-lib/tests/unit/inbm_common_lib/test_validater.py
  inbm/Changelog.md
Labels: enhancement, ISDM_High, INBC
