Repository intel/intel-inb-manageability, pull requests merged in 2022-08, with the labels that each got.

#173 (RTC 498253) Fix duplicate of DBS remove operation in docker-compose OTA
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/remediationmanager/remediation_manager.py
  inbm/dispatcher-agent/tests/unit/remediationmanager/test_remediation_manager.py
Labels: bug, ISDM_Medium, INBM

#171 Allow installation on debian bullseye
  inbm-vision/packaging/build-agent-exe-py3.sh
  inbm/Changelog.md
  inbm/fpm/fpm.sh
  inbm/installer/install-inb.sh
  inbm/installer/install-tc.sh
  inbm/integration-reloaded/test/general/INSTALL_FRAMEWORK_quick.sh
  inbm/integration-reloaded/test/general/INSTALL_FRAMEWORK_quicker.sh
  inbm/integration-reloaded/test/general/INSTALL_FRAMEWORK_slow.sh
  inbm/packaging/build-agent-exe-py3.sh
  manageability-docker/Dockerfile
  manageability-docker/vision-docker/Dockerfile
Labels: ISDM_Medium, debian, bullseye

#174 TC: remove Ubuntu 18.04 support
  docs/In-Band Manageability Installation Guide Ubuntu.md
  inbm/Changelog.md
  inbm/build-main.sh
  inbm/cloudadapter-agent/fpm-template/usr/bin/provision-tc
  inbm/deploy-artifactory.sh
  inbm/dockerfiles/Dockerfile-Windows.m4
  inbm/dockerfiles/Dockerfile-Yocto-tgz-ehl.m4
  inbm/dockerfiles/Dockerfile-Yocto-tgz-kmb.m4
  inbm/dockerfiles/Dockerfile-check.m4
  inbm/dockerfiles/commands.base-setup.m4
  inbm/dockerfiles/image.ehl.m4
  inbm/dockerfiles/image.kmb.m4
  inbm/dockerfiles/image.main.m4
  inbm/installer/install-inb.sh
  inbm/installer/install-tc.sh
  inbm/integration-reloaded/README.md
  inbm/integration-reloaded/Vagrantfile-vm-box-18.04
  inbm/integration-reloaded/run-interactive.sh
  inbm/integration-reloaded/run-slow.sh
  inbm/integration-reloaded/scripts/select-ubuntu-18.04.sh
  inbm/integration-reloaded/setup.sh
  inbm/integration-reloaded/test/general/INSTALL_FRAMEWORK_slow.sh
  inbm/packaging/README.md
  inbm/packaging/docker-sample-container/docker/Dockerfile
  inbm/tpm2-simulator/.gitignore
  inbm/tpm2-simulator/Dockerfile
  inbm/tpm2-simulator/build.sh
  inbm/tpm2-simulator/ldconfig.sh
  inbm/tpm2-simulator/tpm2-simulator-after-install.sh
  inbm/tpm2-simulator/tpm2-simulator-before-remove.sh
  inbm/tpm2-simulator/tpm2-simulator.service
  inbm/tpm2-tools/Dockerfile
  inbm/tpm2-tools/build.sh
  inbm/tpm2-tools/interactive-startup.sh
  inbm/tpm2-tools/interactive.sh
  inbm/tpm2-tools/tpm2-abrmd-after-install.sh
  inbm/tpm2-tools/tpm2-abrmd-before-remove.sh
  inbm/tpm2-tools/tpm2-tools-test.sh
  inbm/tpm2-tools/tss-install.sh
Labels: ISDM_Medium, ubuntu, ubuntu 18.04

#178 (HSD 15011727901) Fix POTA/INBC POTA print "Firmware Update Aborted" …
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/fota/fota.py
Labels: bug, ISDM_Medium, INBM, POTA

#181 (HSD 15011243655) Fix for Yocto FOTA SBL failed to update via manifest
  inbm/dispatcher-agent/fpm-template/etc/apparmor.d/usr.bin.inbm-dispatcher
  inbm/dispatcher-agent/fpm-template/etc/firmware_tool_info.conf
Labels: bug, ISDM_Medium, INBM
