Repository intel/intel-inb-manageability, pull requests merged in 2022-03, with the labels that each got.

#45 Fix 509266: Vision agent post-install script fails
  inbm-vision/Changelog.md
  inbm-vision/build-yocto-tgz.sh
  inbm-vision/vision-agent/fpm-template/etc/apparmor.d/usr.bin.vision
Labels: bug, ISDM_Low

#42 Remove AOTA signature column in Manifest Parameters.md under docs folder
  docs/Manifest Parameters.md
Labels: documentation, ISDM_Low

#55 HSD 15010640268 - TBH Cards send back same GUID
  inbm-lib/inbm_vision_lib/xlink/xlink_secure_wrapper.py
  inbm-vision/Changelog.md
  inbm-vision/vision-agent/vision/node_communicator/xlink_connector.py
Labels: bug, ISDM_Low, vision

#28 Fix non code scripts and thingsboard def files
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_batch_version_3.3.json
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_devices_version_3.3.json
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_widgets_version_3.3.json
  manageability-docker/README.md
  manageability-docker/cloud_source
  manageability-docker/sample_customer_mqtt_client.py
Labels: documentation, ISDM_Low

#49 [509372] [HSD 15010715317] Add TBH dockerfile to manageability-docker folder and fix the configuration file malformed in inb container
  manageability-docker/vision-docker/Dockerfile
  manageability-docker/vision-docker/Release-README
  manageability-docker/vision-docker/azure_conf_file
  manageability-docker/vision-docker/azure_template_link.txt
  manageability-docker/vision-docker/cloud_source
  manageability-docker/vision-docker/docker-compose.yml
  manageability-docker/vision-docker/docker-manageability-policy
  manageability-docker/vision-docker/dummy.file
  manageability-docker/vision-docker/run.sh
Labels: bug, ISDM_Medium, INBC, INBM, docker, container, docker_compose

#70 [INBM] Support INBC Config Load command
  inbc-program/README.md
  inbc-program/inbc/command/config_command.py
  inbc-program/inbc/parser.py
  inbc-program/tests/unit/test_broker.py
  inbc-program/tests/unit/test_inbc.py
  inbm/Changelog.md
Labels: ISDM_Low, INBC, config_load

#68 fix (510268) Security: Update golang runtime
  inbm/Changelog.md
  inbm/dockerfiles/Dockerfile-Windows.m4
  inbm/dockerfiles/image.kmb.m4
  inbm/dockerfiles/image.main.m4
  snyk/Dockerfile
Labels: ISDM_Low, security

#60 [505505] Remove bootFlashlessDevice from vision configuration file
  docs/Configuration Parameters.md
  inbm-lib/inbm_vision_lib/configuration_manager.py
  inbm-lib/inbm_vision_lib/constants.py
  inbm-vision/Changelog.md
  inbm-vision/vision-agent/fpm-template/etc/intel-manageability/public/vision-agent/intel_manageability_vision.conf
  inbm-vision/vision-agent/fpm-template/usr/share/vision-agent/intel_manageability_vision_schema.xsd
  inbm-vision/vision-agent/vision/command/command.py
  inbm-vision/vision-agent/vision/configuration_constant.py
  inbm-vision/vision-agent/vision/data_handler/data_handler.py
  inbm-vision/vision-agent/vision/data_handler/idata_handler.py
  inbm-vision/vision-agent/vision/node_communicator/xlink_connector.py
  inbm-vision/vision-agent/vision/rollback_manager.py
  inbm-vision/vision-agent/vision/tests/unit/test_command.py
  inbm-vision/vision-agent/vision/tests/unit/test_data_handler.py
  inbm-vision/vision-agent/vision/tests/unit/test_rollback_manager.py
  inbm-vision/vision-agent/vision/tests/unit/test_xlink_connector.py
Labels: vision, ISDM_Medium

#64 [495463] Fix existing driver get uninstalled if AOTA update failed using .deb file package
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/aota/application_command.py
Labels: bug, ISDM_Low, INBM, aota

#71 SDL T572 - Add symlink checks
  inbc-program/inbc/constants.py
  inbc-program/inbc/utility.py
  inbm-lib/inbm_common_lib/utility.py
  inbm-lib/inbm_vision_lib/configuration_manager.py
  inbm-lib/inbm_vision_lib/utility.py
  inbm-lib/tests/unit/inbm_common_lib/test_utility.py
  inbm-lib/tests/unit/inbm_vision_lib/test_configuration_manager.py
  inbm-vision/integration-reloaded/tests/fota/FOTA_INBC_FILE_NOT_FOUND.sh
  inbm-vision/node-agent/node/data_handler.py
  inbm-vision/node-agent/node/tests/unit/test_data_handler.py
  inbm-vision/vision-agent/vision/data_handler/command_data_handler.py
  inbm-vision/vision-agent/vision/data_handler/data_handler.py
  inbm-vision/vision-agent/vision/flashless_utility.py
  inbm-vision/vision-agent/vision/tests/unit/test_command_data_handler.py
  inbm-vision/vision-agent/vision/tests/unit/test_flashless_utility.py
  inbm-vision/vision-agent/vision/tests/unit/test_mac_address.py
  inbm/dispatcher-agent/dispatcher/aota/application_command.py
  inbm/dispatcher-agent/dispatcher/fota/bios_factory.py
  inbm/dispatcher-agent/tests/unit/aota/test_aota.py
  inbm/dispatcher-agent/tests/unit/fota/test_bios_factory.py
Labels: ISDM_Medium, security

#74 Fix documentation error in configuration boundary
  docs/Configuration Parameters.md
Labels: documentation, ISDM_Low

#77 Pin bandit to fix flake8-bandit/bandit issue
  inbm-vision/dockerfiles/Dockerfile-check.m4
  inbm/dockerfiles/Dockerfile-check.m4
Labels: ISDM_Low, build

#78 HSD15010649794 - Change SOTA manifest to xs:all to not enforce order …
  inbm/Changelog.md
  inbm/dispatcher-agent/fpm-template/usr/share/dispatcher-agent/manifest_schema.xsd
Labels: bug, INBC, POTA

#81 HSD 15010868047 - Fix Move File to not duplicate filename in path
  inbm-lib/inbm_common_lib/utility.py
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/aota/application_command.py
Labels: bug, ISDM_Low, AOTA

#82 fix readability issue with docker stats on ThingsBoard
  inbm/Changelog.md
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/thingsboard/intel_manageability_widgets_version_3.3.json
Labels: good first issue, ISDM_Low

#84 [HSD 15010868050] Fix flashless OTA moving file issue
  inbm-lib/inbm_common_lib/utility.py
  inbm-lib/tests/unit/inbm_common_lib/test_utility.py
  inbm-vision/Changelog.md
  inbm-vision/vision-agent/vision/tests/unit/test_flashless_utility.py
Labels: bug, ISDM_Low, vision

#83 Use Vision process instead of MQTT to determine is Vision-agent is ru…
  inbc-program/inbc/broker.py
  inbc-program/inbc/command/command.py
  inbc-program/inbc/constants.py
  inbc-program/inbc/utility.py
  inbc-program/requirements.txt
  inbc-program/tests/unit/test_broker.py
  inbc-program/tests/unit/test_inbc.py
  inbm-lib/inbm_vision_lib/constants.py
  inbm-lib/inbm_vision_lib/xlink/xlink_secure_wrapper.py
  inbm-vision/Changelog.md
  inbm-vision/vision-agent/vision/broker.py
  inbm-vision/vision-agent/vision/tests/unit/test_broker.py
Labels: bug, vision, ISDM_Medium, INBC

#85 fix HSD 15010868047: "Unsupported OS" when running POTA via inbc in container on CentOS
  inbm-lib/inbm_lib/detect_os.py
  inbm-vision/Changelog.md
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/aota/application_command.py
  inbm/dispatcher-agent/dispatcher/aota/factory.py
  inbm/dispatcher-agent/tests/unit/aota/test_aota.py
  inbm/dispatcher-agent/tests/unit/aota/test_factory.py
Labels: bug, ISDM_Medium, INBC, POTA

#90 fix RTC 510928 Upgrade 3rd party deps to address CVE-2022-24921, CVE-2022-23648
  inbm/Changelog.md
  inbm/dockerfiles/Dockerfile-Windows.m4
  inbm/dockerfiles/image.kmb.m4
  inbm/dockerfiles/image.main.m4
  inbm/trtl/go.mod
  inbm/trtl/go.sum
  snyk/Dockerfile
Labels: ISDM_Low, security, trtl

#89 HSD 15010881519 - Reserve thread handling in listen_to_channel method
  inbm-lib/inbm_vision_lib/xlink/xlink_wrapper.py
  inbm-vision/Changelog.md
Labels: bug, ISDM_Low, vision, node

#93 RTC 511044 - Return error message when Configuration set fails
  inbm-vision/Changelog.md
  inbm-vision/vision-agent/vision/data_handler/data_handler.py
  inbm-vision/vision-agent/vision/tests/unit/test_data_handler.py
Labels: bug, ISDM_Low, vision

#94 Use VisionException instead of ValueError from PR #93
  inbm-vision/vision-agent/vision/command/configuration_command.py
  inbm-vision/vision-agent/vision/data_handler/data_handler.py
  inbm-vision/vision-agent/vision/tests/unit/test_data_handler.py
Labels: ISDM_Low, vision, node

#95 Fix docker build error
  inbm-lib/mypy-py3.sh
  inbm-lib/pyproject.toml
  inbm-vision/dockerfiles/Dockerfile-check.m4
  inbm-vision/node-agent/fpm-template/usr/share/node-agent/version.txt
  inbm-vision/version.txt
  inbm/Changelog.md
  inbm/dockerfiles/Dockerfile-check.m4
Labels: ISDM_Low, build

#91 fix 15010918893 INBM does not reject unsupported file type
  inbm-lib/inbm_common_lib/constants.py
  inbm-lib/inbm_common_lib/utility.py
  inbm-vision/Changelog.md
  inbm/Changelog.md
Labels: bug, ISDM_Medium

#97 HSD 15010766920 - Apparmor issue while querying SWBOM information
  inbm/Changelog.md
  inbm/telemetry-agent/fpm-template/etc/apparmor.d/usr.bin.inbm-telemetry
Labels: bug, ISDM_Low, telemetry, SWBOM

#100 Merge 3.0.10 back to develop
  inbm-vision/Changelog.md
  inbm-vision/node-agent/fpm-template/usr/share/node-agent/version.txt
  inbm-vision/packaging/yocto/meta-intel-ese-manageability/recipes-bit-creek/bit-creek/bit-creek_0.0.0.bb
  inbm-vision/version.txt
  inbm/Changelog.md
  inbm/dockerfiles/Dockerfile-Windows.m4
  inbm/dockerfiles/image.kmb.m4
  inbm/dockerfiles/image.main.m4
  inbm/packaging/yocto/meta-intel-ese-manageability/recipes-inb/inb/inb_0.0.0.bb
  inbm/trtl/scripts/test-trtl
  snyk/Dockerfile
Labels: ISDM_Low, release
