Repository intel/intel-inb-manageability, pull requests merged in 2023-04, with the labels that each got.

#288 Remove proxy from UCC template if not used.
  inbm/fpm/inb-provision-cloud/main.go
Labels: UCC, CloudAdapter

#290 Allow hostnames for Server IP in provision script
  inbm/Changelog.md
  inbm/fpm/inb-provision-cloud/main.go
  inbm/fpm/inb-provision-cloud/main_test.go
Labels: ISDM_Low, CloudAdapter

#287 Fix UCC command subscription issue
  docs/In-Band Manageability User Guide - UCC.md
  inbm/cloudadapter-agent/cloudadapter/agent/broker.py
  inbm/cloudadapter-agent/cloudadapter/agent/publisher.py
  inbm/cloudadapter-agent/cloudadapter/client.py
  inbm/cloudadapter-agent/cloudadapter/cloud/adapters/azure_adapter.py
  inbm/cloudadapter-agent/cloudadapter/cloud/adapters/generic_adapter.py
  inbm/cloudadapter-agent/cloudadapter/cloud/adapters/telit_adapter.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/cloud_client.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/connections/mqtt_connection.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/handlers/echo_handler.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/handlers/receive_respond_handler.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/handlers/recieve_respond_handler.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/utilities.py
  inbm/cloudadapter-agent/cloudadapter/cloud/cloud_builders.py
  inbm/cloudadapter-agent/cloudadapter/constants.py
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/config_schema.json
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/ucc/config.json.template
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/ucc/config_tls.json.template
  inbm/cloudadapter-agent/tests/unit/agent/test_broker.py
  inbm/cloudadapter-agent/tests/unit/cloud/client/handlers/test_receive_respond_handler.py
  inbm/cloudadapter-agent/tests/unit/cloud/client/handlers/test_recieve_respond_handler.py
  inbm/cloudadapter-agent/tests/unit/cloud/test_cloud_builders.py
  inbm/cloudadapter-agent/tests/unit/test_client.py
  inbm/integration-reloaded/test/ucc/INSTALL_FRAMEWORK_ucc.sh
Labels: ISDM_Low, UCC, CloudAdapter

#293 Add security.md file for SDL CT256
  Security.md
  inbm/Changelog.md
Labels: ISDM_Low, security, SDL-CT256

#298 Requested changes from UCC team for topics
  inbm/cloudadapter-agent/cloudadapter/cloud/client/handlers/receive_respond_handler.py
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/ucc/config.json.template
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/ucc/config_tls.json.template
  inbm/fpm/inb-provision-cloud/go.mod
  inbm/fpm/inb-provision-cloud/go.sum
  inbm/fpm/inb-provision-cloud/main.go
  inbm/fpm/inb-provision-cloud/main_test.go
  inbm/fpm/mqtt/template/etc/intel-manageability/public/mqtt-broker/acl.file
Labels: ISDM_Low, UCC, CloudAdapter

#305 UCC Telemetry and UCC Command Integration test
  inbm/integration-reloaded/launchers/ucc/ucc-test.sh
  inbm/integration-reloaded/run-ucc.sh
  inbm/integration-reloaded/scripts/test_util.sh
  inbm/integration-reloaded/test/ucc/INSTALL_FRAMEWORK_ucc.sh
  inbm/integration-reloaded/test/ucc/UCC_GOOD_COMMAND_TEST.sh
  inbm/integration-reloaded/test/ucc/UCC_GOOD_TELEMETRY_TEST.sh
Labels: ISDM_Medium, UCC

#308 Change server ID check for UCC
  inbm/fpm/inb-provision-cloud/main.go
  inbm/fpm/inb-provision-cloud/main_test.go
Labels: UCC, CloudAdapter

#309 Fix UCC cloud to return literal value from telemetry and 'OK' to acknowledge command
  inbm/Changelog.md
  inbm/cloudadapter-agent/cloudadapter/cloud/client/utilities.py
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/ucc/config.json.template
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/ucc/config_tls.json.template
  inbm/cloudadapter-agent/tests/unit/cloud/client/test_utilities.py
  inbm/integration-reloaded/launchers/ucc/ucc-test.sh
  inbm/integration-reloaded/scripts/test_util.sh
  inbm/integration-reloaded/test/ucc/INSTALL_FRAMEWORK_ucc.sh
  inbm/integration-reloaded/test/ucc/UCC_FLOW_TEST.py
  inbm/integration-reloaded/test/ucc/UCC_GOOD_COMMAND_TEST.sh
  inbm/integration-reloaded/test/ucc/UCC_GOOD_TELEMETRY_TEST.sh
Labels: ISDM_Medium, UCC

#311 [UCC] Doc update to include info on UCC agent cert/key
  docs/In-Band Manageability User Guide - UCC.md
  docs/media/In-Band Manageability User Guide - UCC/media/UCC-INBM.png
Labels: ISDM_Low, UCC
