Repository intel/intel-inb-manageability, pull requests merged in 2023-05, with the labels that each got.

#313 Mask Confidential data (Username & Password) of OTA is exposed in logs
  inbm/Changelog.md
  inbm/cloudadapter-agent/cloudadapter/cloud/client/handlers/receive_respond_handler.py
  inbm/cloudadapter-agent/tests/unit/cloud/client/handlers/test_receive_respond_handler.py
  inbm/dispatcher-agent/dispatcher/ota_parser.py
Labels: ISDM_Medium

#315 Remove FOTA based arguments for FOTA and POTA for vendor/version/manu…
  docs/Manifest Parameters.md
  docs/Terminology.md
  inbc-program/README.md
  inbc-program/inbc/parser.py
  inbc-program/tests/unit/test_inbc.py
  inbm/Changelog.md
  inbm/dispatcher-agent/README.md
  manageability-docker/run_azure.sh
Labels: documentation, ISDM_Low, INBC

#318 Fix inb container
  inbm/cloudadapter-agent/cloudadapter/cloud/client/connections/mqtt_connection.py
  inbm/dispatcher-agent/dispatcher/aota/application_command.py
  manageability-docker/Dockerfile
  manageability-docker/README.md
  manageability-docker/build-thingsboard-container-from-artifact.sh
  manageability-docker/build-thingsboard-container-from-source.sh
  manageability-docker/cloud_source
  manageability-docker/run_azure.sh
  manageability-docker/run_thingsboard.sh
Labels: docker, Thingsboard, CloudAdapter

#332 Add correct UCC bitsize
  inbm/Changelog.md
  inbm/fpm/inb-provision-certs/main.go
Labels: ISDM_Low

#339 Add AOTA application update command to INBC
  inbc-program/README.md
  inbc-program/inbc/command/command.py
  inbc-program/inbc/command/command_factory.py
  inbc-program/inbc/command/ota_command.py
  inbc-program/inbc/constants.py
  inbc-program/inbc/parser.py
  inbc-program/tests/unit/test_broker.py
  inbc-program/tests/unit/test_create_command_factory.py
  inbc-program/tests/unit/test_inbc.py
  inbm-lib/inbm_common_lib/request_message_constants.py
  inbm-lib/inbm_lib/constants.py
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/sota/constants.py
  inbm/dispatcher-agent/dispatcher/sota/sota.py
  inbm/integration-reloaded/test/aota/AOTA_UPDATE_PREBOOT.sh
Labels: documentation, ISDM_Low, INBC, AOTA
