Repository intel/intel-inb-manageability, pull requests merged in 2023-03, with the labels that each got.

#264 Add UCC mode for inbm installer
  inbm/Changelog.md
  inbm/dockerfiles/build-Dockerfile.sh
  inbm/installer/install-tc.sh
  manageability-docker/run_azure.sh
  manageability-docker/run_thingsboard.sh
  snyk/run.sh
Labels: ISDM_Low

#267 Ability to send telemetry messages received from UCC agent to their broker through the cloudadapter-agent.
  inbm/Changelog.md
  inbm/cloudadapter-agent/cloudadapter/client.py
  inbm/cloudadapter-agent/cloudadapter/cloud/adapter_factory.py
  inbm/cloudadapter-agent/cloudadapter/cloud/adapters/adapter.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/cloud_client.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/connections/mqtt_connection.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/handlers/recieve_respond_handler.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/messengers/_messenger.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/messengers/one_way_messenger.py
  inbm/cloudadapter-agent/cloudadapter/cloud/cloud_builders.py
  inbm/cloudadapter-agent/cloudadapter/constants.py
  inbm/cloudadapter-agent/cloudadapter/utilities.py
  inbm/cloudadapter-agent/fpm-template/etc/apparmor.d/usr.bin.inbm-cloudadapter
  inbm/cloudadapter-agent/fpm-template/usr/bin/provision-tc
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/ucc/config.json.template
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/ucc/config_tls.json.template
  inbm/cloudadapter-agent/tests/unit/cloud/client/connections/test_mqtt_connection.py
  inbm/cloudadapter-agent/tests/unit/cloud/client/handlers/test_recieve_respond_handler.py
  inbm/cloudadapter-agent/tests/unit/test_utilities.py
  inbm/fpm/inb-provision-cloud/main.go
  inbm/fpm/mqtt/template/etc/intel-manageability/public/mqtt-broker/acl.file
  inbm/integration-reloaded/launchers/ucc/install-framework-ucc.sh
  inbm/integration-reloaded/run-ucc.sh
  inbm/integration-reloaded/test/ucc/INSTALL_FRAMEWORK_ucc.sh
Labels: ISDM_Low, UCC, CloudAdapter

#272 Add notes in INBC docs
  docs/In-Band Manageability Developer Guide.md
  inbc-program/README.md
Labels: inbc_doc_changes

#273 Add notes to INBC fota section to mention about URL configuration
  inbc-program/README.md
Labels: ISDM_Low, INBC_FOTA_DOC

#269 Add command option to send commands received from UCC Broker to TC Br…
  inbm/cloudadapter-agent/cloudadapter/agent/broker.py
  inbm/cloudadapter-agent/cloudadapter/agent/publisher.py
  inbm/cloudadapter-agent/cloudadapter/client.py
  inbm/cloudadapter-agent/cloudadapter/constants.py
  inbm/cloudadapter-agent/tests/unit/agent/test_broker.py
  inbm/fpm/mqtt/template/etc/intel-manageability/public/mqtt-broker/acl.file
Labels: ISDM_Low, UCC, CloudAdapter

#275 add authentication information to UCC Provision option
  docs/In-Band Manageability Installation Guide Ubuntu.md
  docs/In-Band Manageability User Guide - Azure.md
  docs/In-Band Manageability User Guide - ThingsBoard.md
  docs/In-Band Manageability User Guide - UCC.md
  inbm/cloudadapter-agent/fpm-template/usr/bin/provision-tc
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/ucc/config_tls.json.template
  inbm/fpm/inb-provision-cloud/go.mod
  inbm/fpm/inb-provision-cloud/go.sum
  inbm/fpm/inb-provision-cloud/main.go
  inbm/fpm/inb-provision-cloud/main_test.go
  inbm/fpm/inb-provision-cloud/util.go
  inbm/installer/install-tc.sh
Labels: documentation, ISDM_Low, UCC

#277 Add docker notes to README.md and download link to Thingsboard docs
  README.md
  docs/In-Band Manageability User Guide - ThingsBoard.md
  inbm/Changelog.md
Labels: ISDM_Low

#271 [Defect 527058] Fix Azure proxy error
  inbm/Changelog.md
  inbm/cloudadapter-agent/cloudadapter/cloud/adapters/azure_adapter.py
  inbm/cloudadapter-agent/tests/unit/cloud/adapters/test_azure_adapter.py
Labels: ISDM_Low, azure

#279 Add proxy configuration to UCC cloud provision script
  docs/In-Band Manageability User Guide - ThingsBoard.md
  docs/In-Band Manageability User Guide - UCC.md
  inbm/cloudadapter-agent/fpm-template/usr/bin/provision-tc
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/ucc/config.json.template
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/ucc/config_tls.json.template
  inbm/fpm/inb-provision-cloud/main.go
  inbm/fpm/inb-provision-cloud/main_test.go
Labels: documentation, ISDM_Low, UCC

#282 Change golang-runtime 1.18 to 1.20
  inbm/Changelog.md
  inbm/dockerfiles/image.kmb.m4
  inbm/dockerfiles/image.main.m4
Labels: ISDM_Low

#281 Subscribe UCC to Command channel with client ID
  inbm/cloudadapter-agent/cloudadapter/agent/broker.py
  inbm/cloudadapter-agent/cloudadapter/client.py
  inbm/cloudadapter-agent/cloudadapter/cloud/adapter_factory.py
  inbm/cloudadapter-agent/cloudadapter/cloud/adapters/adapter.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/cloud_client.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/connections/_connection.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/connections/mqtt_connection.py
  inbm/cloudadapter-agent/cloudadapter/cloudadapter.py
  inbm/cloudadapter-agent/cloudadapter/constants.py
  inbm/cloudadapter-agent/cloudadapter/utilities.py
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/ucc/config.json.template
  inbm/cloudadapter-agent/fpm-template/usr/share/cloudadapter-agent/ucc/config_tls.json.template
  inbm/cloudadapter-agent/tests/unit/agent/test_broker.py
  inbm/cloudadapter-agent/tests/unit/test_client.py
  inbm/cloudadapter-agent/tests/unit/test_utilities.py
  inbm/fpm/inb-provision-cloud/main.go
  inbm/fpm/inb-provision-cloud/main_test.go
  inbm/fpm/mqtt/template/etc/intel-manageability/public/mqtt-broker/acl.file
  inbm/integration-reloaded/test/ucc/INSTALL_FRAMEWORK_ucc.sh
Labels: ISDM_Low, UCC, CloudAdapter
