Repository intel/intel-inb-manageability, pull requests merged in 2023-06, with the labels that each got.

#340 [529914] Implement OTA Logger
  inbm-lib/inbm_lib/constants.py
  inbm/Changelog.md
  inbm/cloudadapter-agent/tests/unit/agent/test_broker.py
  inbm/cloudadapter-agent/tests/unit/cloud/test_adapter_factory.py
  inbm/cloudadapter-agent/tests/unit/cloud/test_cloud_builders.py
  inbm/common-python-config/pyproject.toml
  inbm/dispatcher-agent/dispatcher/aota/application_command.py
  inbm/dispatcher-agent/dispatcher/dispatcher_callbacks.py
  inbm/dispatcher-agent/dispatcher/dispatcher_class.py
  inbm/dispatcher-agent/dispatcher/fota/fota.py
  inbm/dispatcher-agent/dispatcher/sota/sota.py
  inbm/dispatcher-agent/dispatcher/update_logger.py
  inbm/dispatcher-agent/tests/unit/common/mock_resources.py
  inbm/dispatcher-agent/tests/unit/fota/test_fota.py
  inbm/dispatcher-agent/tests/unit/sota/test_downloader.py
  inbm/dispatcher-agent/tests/unit/sota/test_os_updater.py
  inbm/dispatcher-agent/tests/unit/sota/test_os_upgrader.py
  inbm/dispatcher-agent/tests/unit/sota/test_sota.py
  inbm/dispatcher-agent/tests/unit/test_update_logger.py
Labels: enhancement, ISDM_Medium, INBM, dispatcher

#327 Update versions
  inbc-program/requirements.txt
  inbm-lib/pyproject.toml
  inbm-lib/setup.py
  inbm/cloudadapter-agent/requirements.txt
  inbm/cloudadapter-agent/test-requirements.txt
  inbm/common-python-config/pyproject.toml
  inbm/configuration-agent/requirements.txt
  inbm/configuration-agent/test-requirements.txt
  inbm/diagnostic-agent/requirements.txt
  inbm/diagnostic-agent/test-requirements.txt
  inbm/dispatcher-agent/requirements.txt
  inbm/dispatcher-agent/test-requirements.txt
  inbm/dockerfiles/Dockerfile-check.m4
  inbm/telemetry-agent/requirements.txt
  inbm/telemetry-agent/test-requirements.txt
Labels: ISDM_Low, security

#345 [529912, 529913] Add reboot option for SOTA
  inbc-program/README.md
  inbc-program/inbc/parser.py
  inbc-program/tests/unit/test_inbc.py
  inbm-lib/inbm_common_lib/constants.py
  inbm-lib/tests/unit/inbm_lib/manifest_schema.xsd
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/dispatcher_class.py
  inbm/dispatcher-agent/dispatcher/fota/fota.py
  inbm/dispatcher-agent/dispatcher/ota_parser.py
  inbm/dispatcher-agent/dispatcher/ota_util.py
  inbm/dispatcher-agent/dispatcher/sota/os_updater.py
  inbm/dispatcher-agent/dispatcher/sota/os_upgrader.py
  inbm/dispatcher-agent/dispatcher/sota/snapshot.py
  inbm/dispatcher-agent/dispatcher/sota/sota.py
  inbm/dispatcher-agent/dispatcher/update_logger.py
  inbm/dispatcher-agent/fpm-template/etc/apparmor.d/usr.bin.inbm-dispatcher
  inbm/dispatcher-agent/fpm-template/usr/share/dispatcher-agent/manifest_schema.xsd
  inbm/dispatcher-agent/tests/unit/fota/test_fota.py
  inbm/dispatcher-agent/tests/unit/sota/test_command_handler.py
  inbm/dispatcher-agent/tests/unit/sota/test_downloader.py
  inbm/dispatcher-agent/tests/unit/sota/test_os_updater.py
  inbm/dispatcher-agent/tests/unit/sota/test_os_upgrader.py
  inbm/dispatcher-agent/tests/unit/sota/test_sota.py
  inbm/dispatcher-agent/tests/unit/test_update_logger.py
  inbm/fpm/tpm-provision/template/usr/share/manageability/manifest.html
  inbm/integration-reloaded/scripts/test_util.sh
  inbm/integration-reloaded/test/sota/SOTA_NO_DOWNLOAD_SUCCESS_postboot.sh
  inbm/integration-reloaded/test/sota/SOTA_NO_DOWNLOAD_SUCCESS_preboot.sh
  inbm/integration-reloaded/test/sota/SOTA_UPDATE_SUCCESS_postboot.sh
  inbm/integration-reloaded/test/sota/SOTA_UPDATE_SUCCESS_preboot.sh
Labels: documentation, ISDM_High, SOTA, dispatcher, POTA, FOTA

#351 Add Fuzz Tests and some Fuzz testing changes
  inbm/cloudadapter-agent/cloudadapter/cloud/adapters/azure_adapter.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/connections/mqtt_connection.py
  inbm/cloudadapter-agent/cloudadapter/cloud/client/utilities.py
  inbm/cloudadapter-agent/cloudadapter/cloud/cloud_builders.py
  inbm/cloudadapter-agent/test-requirements.txt
  inbm/cloudadapter-agent/tests/fuzz/__init__.py
  inbm/cloudadapter-agent/tests/fuzz/fuzz_cloud_adapters_azure_adapter.py
  inbm/cloudadapter-agent/tests/fuzz/fuzz_cloud_adapters_generic_adapter.py
  inbm/cloudadapter-agent/tests/fuzz/fuzz_cloud_client_utilities_methodParser_parser.py
  inbm/cloudadapter-agent/tests/fuzz/fuzz_mqtt_connection.py
  inbm/cloudadapter-agent/tests/unit/cloud/adapters/test_azure_adapter.py
  inbm/cloudadapter-agent/tests/unit/cloud/client/connections/test_mqtt_connection.py
Labels: ISDM_Low, security, CloudAdapter, Fuzz Testing

#354 INBC AOTA Application update command to check package fetch from trusted repo
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/aota/application_command.py
  inbm/dispatcher-agent/tests/unit/aota/test_aota.py
Labels: ISDM_Low

#350 [530729] Fix incorrect AOTA status after reboot
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/aota/application_command.py
  inbm/dispatcher-agent/dispatcher/aota/constants.py
Labels: ISDM_Low, AOTA, dispatcher

#355 [530960] Fix INBC SOTA observe post-install check and rollback on EXT4
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/sota/snapshot.py
Labels: ISDM_Low, SOTA, dispatcher
