Repository intel/intel-inb-manageability, pull requests merged in 2023-08, with the labels that each got.

#371 Add AOTA docker-compose up,down and pull commands to INBC
  inbc-program/README.md
  inbc-program/inbc/parser.py
  inbc-program/tests/unit/test_broker.py
  inbc-program/tests/unit/test_inbc.py
  inbm/Changelog.md
Labels: ISDM_Low, INBC_FOTA_DOC

#376 [531795, 531796] Set deviceReboot=no when download-only mode
  inbc-program/inbc/parser.py
  inbm/Changelog.md
  inbm/dispatcher-agent/dispatcher/sota/sota.py
Labels: ISDM_Low, INBC, SOTA

#379 Fix SOTA to handle dpkg interactive prompt
  inbm-lib/pyproject.toml
  inbm/Changelog.md
  inbm/common-python-config/pyproject.toml
  inbm/dispatcher-agent/dispatcher/sota/os_updater.py
  inbm/dispatcher-agent/tests/unit/sota/test_os_updater.py
Labels: ISDM_Low

#380 Add AOTA docker pull, import, load and remove to INBC
  inbc-program/README.md
  inbc-program/inbc/parser.py
  inbc-program/tests/unit/test_inbc.py
  inbm/Changelog.md
Labels: ISDM_Low
